* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  width: 80%;
  height: 400px;
  color: white;
  font-size: 100px;
  background-color: gainsboro;
  border: none;
  align-items: center;
  text-align: center;
}

button:hover {
  background-color: gray;
  transition-duration: 0.25s;
}
