* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  background-color: #5c5764;
  color: white;
  font-size: 80px;
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.content:hover {
  border-radius: 50%;
  transition: 0.25s;
}
